<div class="row">
	<% if @allTweets %>
		<p>True</p>
		<p>feed</p>
	<% else %>
		<p>False</p>
	<% end %>
</div>


	<% if current_user %>
	<section class="micropost_form">

		<div class="row">
			<div class="col-md-8 col-md-offset-4">
				<h2>All the lil' Twits</h2>
				</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<%= erb :_profile_sidebar %>
			</div>

			<div class="col-md-8">
				<%= erb :_tweet %>
			</div>
	 	</div>
 	</section>
 	<% else %>
 		<div class="col-md-12 ">
			<%= erb :_tweet %>
		</div>
	<% end %>




