<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>All the lil' Twits</h2>
 	</div>
</div>


<section class="micropost_form">
	<div class="row">
		<div class="col-md-8 ">
			<ul>
				<% @tweets.each do |tweet|%>
					<% date = tweet.created_at %>
					<li><span class="user">
						<strong><%=  tweet.user.username.capitalize %></strong>
					</span>
					<span class="timestamp">
						<%= date.strftime("at %I:%M%p on %m/%d/%Y") %>
					</span>
					<span class="content">
						<%= tweet.content %>
					</span>
					<hr>
					</li>
				<% end %>
			</ul>
		</div>
	 </div>
 </section>




