<!DOCTYPE html>
<html lang="en">
<head> <script src="https://use.fontawesome.com/74d2298ec1.js"></script>
</head>
<body>
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom affix-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">

        <a class="navbar-brand" href="#page-top"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="nav navbar-nav navbar-right">

          <li class="page-scroll">
            <a href="#">Sign Up</a>
          </li>
          <li class="page-scroll">
            <a href="#">Log In</a>
          </li>
        </div>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>















<!-- CSS STYLE SHEET LINKS -->
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css_custom/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css_custom/application.css">

  <link rel="stylesheet" href="/css/freelancer.css">
  <link rel="stylesheet" href="/css/freelancer.min.css">


<!--
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
-->
<!-- BOOTSTRAP ADD INS -->
<!-- Bootstrap core CSS -->
  <!--   <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
-->
<!-- Latest compiled and minified CSS -->
<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->


<title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
