<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Little Twit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">
    <script src="https://use.fontawesome.com/74d2298ec1.js"></script>
  </head>
<body>

    <%= erb :_navbar %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
